/* @override 
	http://localhost:8888/bigquestionapp/youtube-direct-lite/youtube-direct-lite/static/css/style.css */

body {
	margin-top: 50px;
	text-align: left;
	
}
.container {
	max-width: 870px;
}

.center {
	text-align: center;
	margin: auto;
}

.hero-unit {
	background: none;
	padding-left: 10px;
	padding-right:10px;
}
.hero-unit p {
	margin-right: 20px;
	padding-top: 10px;
}

.uploadvideos {
	margin: 50px auto 50px;
}
.uploadvideos a.btn {
	font-size: 36px;
	
}
/* @group Upload */

#uploadFrame {
	margin-top: 20px;
}

#uploadFrame iframe {
	border: none;
}

/* @end */

.feature {
	width: 100%;
	margin-bottom: 10px;
}

/* @group Thumbs and pagination */

ul#thumbs {
	margin: 30px 0 10px auto;
	width:100%;
	list-style: none;
}
ul#thumbs li {
	float: left;
}
ul#thumbs li a {
	margin-right: -5px;
}
ul#thumbs li img {
	width:280px;
	margin-right:20px;
	margin-bottom: 20px;
}

ul#thumbs li:nth-child(3n+3) {
	margin-right: 0;
}
ul#thumbs li:nth-child(3n+3) a {
	margin-right: -20px;
}
.pagination .active {
	color: silver;
	background-color: #dddddd;
}

.pagination {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}

/* @end */



footer {
	background-color: silver;
	padding: 50px;
}

