/* @override 
	http://localhost:8888/bigquestionapp/youtube-direct-lite/youtube-direct-lite/static/css/style.css */
@import url(http://fonts.googleapis.com/css?family=Varela|Varela+Round);

body {
	padding-top: 50px;
	text-align: left;
	font-family: "Varela", "sans-serif";
	font-size: 16px;
	background-color: whitesmoke;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	background-image: -moz-repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
	
}
h1 {
	font-family: "Varela Round", "sans-serif";
	font-weight: normal;
}
.container.main {
	max-width: 870px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 0 0 40px rgba(255,255,255,0.5);
	
}
.first-element {
	margin-top: 40px;
}

.navbar-inner {
	box-shadow: inset 0 -1px 0 rgba(0,160,220,0.1), 0 1px 10px rgba(0,160,220,0.25);
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,160,220,0.1), 0 1px 10px rgba(0,160,220,0.25);
	-moz-box-shadow: inset 0 -1px 0 rgba(0,160,220,0.25), 0 1px 10px rgba(0,160,220,0.25);
	background-color: rgba(0,160,220,1.0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#46b4dc), to(#00a0dc));
	background-image: -webkit-linear-gradient(top, 0 0, 0 100%, from(#46b4dc), to(#00a0dc));
	background-image: -moz-linear-gradient(center top , #46b4dc, #00a0dc);
	background-image: -o-linear-gradient(top, 0 0, 0 100%, from(#46b4dc), to(#00a0dc));
	background-image: linear-gradient(to bottom, 0 0, 0 100%, from(#46b4dc), to(#00a0dc));
	min-height: 50px;
	
}
.navbar .nav > li > a {
	color: white;
	text-shadow: none;
	padding: 18px;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	background-color: #8cc8dc;
}
.navbar .brand {
	padding: 5px 20px 5px;
}

#instructions ul {
	max-width: 870px;
	margin-left: auto;
	margin-right: auto;
}

.subnav {
	width: 100%;
	 margin: 30px 0 0;
	 padding: 0;
	 -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	         border-radius: 6px;
	 /*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	         box-shadow: 0 1px 4px rgba(0,0,0,.065); */
}

.subnav ul li {
  display: block;
  *width: 190px;
  margin: 0;
  padding: 0px 14px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
	float: left;
	list-style: none;
}
.subnav ul li a, .subnav ul li span {
	padding: 10px 15px;
	display: block;
}
.subnav ul li:first-child {
	border: none;
}
.subnav ul li:last-child {
  -webkit-border-radius: 0 6px 6px 0;
     -moz-border-radius: 0 6px 6px 0;
          border-radius: 0 6px 6px 0;
}
.subnav ul li.active a {
  position: relative;
  z-index: 2;
  padding: 10px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.subnav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.subnav li a:hover {
  background-color: #f5f5f5;
}
.subnav a:hover .icon-chevron-right {
  opacity: .5;
}
.subnav li.active .icon-chevron-right,
.subnav li.active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.subnav.affix {
  top: 25px;
	z-index: 2;
	background-color: white;
}
.subnav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 280px;
}
.subnav.affix-top {
	position: absolute;
	top: 280px;
}
.subnav.affix-top li {
	background-color: white;
}

.center {
	text-align: center;
	margin: auto;
}

.hero-unit {
	background: none;
	padding-left: 10px;
	padding-right:10px;
}
.hero-unit p {
	margin-right: 20px;
	padding-top: 10px;
	font-family: "Varela", "Helvetica";
}

#uploadvideos {
	margin: 50px auto 50px;
	padding-bottom: 20px;
}
#uploadvideos a.btn {
	font-size: 36px;
	margin-top: 40px;
	font-family: "Varela Round", sans-serif;
	
}
#uploadvideos::before {
	content: url('../images/video-button.png');
	position: relative;
	width:0px;
	height:0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: -40px;
	top: -20px;
}
.feature::before {
	content: url('../images/watch-button.png');
	position: relative;
	width:0px;
	height:0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: -40px;
	top: -100px;
}
#sharing::before {
	content: url('../images/share-button.png');
	position: relative;
	width:0px;
	height:0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: -40px;
	top: -20px;
}
.email::before {
	content: url('../images/email-button.png');
	position: relative;
	width:0px;
	height:0px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	left: -40px;
	top: -60px;
}

img.icon {
	height: 24px;
}
/* @group Upload */

#uploadFrame {
	margin-top: 20px;
	border: 5px solid lightgray;
	background-color: #f6f6f6;
	
}

#uploadFrame iframe {
	border: none;
}

/* @end */

.feature {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 60px;
}

/* @group Thumbs and pagination */

ul#thumbs {
	margin: 30px 0 10px auto;
	width:100%;
	list-style: none;
	display: inline-block;
}
ul#thumbs li {
	float: left;
}
ul#thumbs li a {
	margin-right: -5px;
}
ul#thumbs li img {
	width:280px;
	margin-right:20px;
	margin-bottom: 20px;
}

ul#thumbs li:nth-child(3n+3) {
	margin-right: 0;
}
ul#thumbs li:nth-child(3n+3) a {
	margin-right: -20px;
}
.pagination .active {
	color: silver;
	background-color: #dddddd;
}

/* @end */

/* @sharing */
#sharing {
	margin-top: 60px;
	display: inline-block;
	padding-bottom: 30px;
}
.addthis_default_style .addthis_separator, 
.addthis_default_style .at300b, 
.addthis_default_style .at300bo, 
.addthis_default_style .at300m, 
.addthis_default_style .at300bs {
	float:none;
}
span.twitter-title {
	background: #00a0dc;
	padding: 5px 10px;
	position: absolute;
	margin-left: -160px;
	left: 50%;
	vertical-align: middle;
	margin-top: 15px;
	color: white;
	opacity: 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
	}
a.addthis_button_preferred_1:hover .twitter-title {
	opacity: 1;
	margin-left: -150px;
}
span.facebook-title {
	background: #00a0dc;
	padding: 5px 10px;
	position: absolute;
	margin-left: 90px;
	left: 50%;
	vertical-align: middle;
	margin-top: 15px;
	color: white;
	opacity: 0;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}
a.addthis_button_preferred_2:hover .facebook-title {
	opacity: 1;
	margin-left: 80px;
}

/* @end */

/* email subscription */


.email input[type="email"] {
	width: 400px;
	height: 30px;
	font-size: 18px;
	font-family: "Varela", sans-serif;
	text-align: center;
}

hr {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #ffffff;
}

/* Footer
-------------------------------------------------- */

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #364449;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}



/* @responsive edits */
@media (max-width: 979px) {
	body {
		padding-top: 0;
		
	}
}