/* @override 
	http://localhost:8888/bigquestionapp/youtube-direct-lite/youtube-direct-lite/static/css/style.css */

/* Make room for fixed header */
body {
	margin-top: 50px;
}
/* Center hero unit */
.hero-unit {
	text-align: center;
	
}
/* @group Upload */

.uploadvideos {
	width: 560px;
	margin: 100px auto 50px;
}

.uploadvideos iframe {
	border: none;
}

/* @end */


.container {
	width: 560px;
}

.feature {
	height: 315px;
	margin-bottom: 10px;
}

/* @group Thumbs and pagination */

#thumbs {
	margin-right: -10px;
}

.thumbscontainer {
	margin-right: -10px;
}

.videogridthumb img {
	width: 180px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.pagination .active {
	color: silver;
	background-color: #dddddd;
}

.pagination {
	width: 560px;
	margin-right: auto;
	margin-left: auto;
}

/* @end */



footer {
	background-color: silver;
	padding: 50px;
}

